body {
  font-family: "system-ui", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #111;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

/* Variant typographique */
.date {
  font-weight: bold;
  color: #666;
}

.list-nobullet {
  list-style-type: none;
}

.list-nobullet li::before {
  content: "Compétence";
  display: block;
  padding: 0.15rem;
  font-size: 0.5em;
}

/* Social Links */
.social-items {
  list-style: none;
  padding-inline-start: 0;
}

.social-items .social-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-items .linkedin::before {
  content: url("../images/linkedin.svg");
}

.social-items .github::before {
  content: url("../images/github.svg");
}
